h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

:root {
  --light-color: #f5f5f7;
  --dark-color: #221f20;
  --container-padding-inline: 13%;
  --footer-padding-inline: 10%;

  @media screen and (max-width: 768px) {
    --container-padding-inline: 6%;
    --footer-padding-inline: 6%;
  }

  @media screen and (max-width: 576px) {
    --container-padding-inline: 15px;
    --footer-padding-inline: 15px;
  }
}

html {
  font-family: "Inter", serif;
  /* у всей страницы плавное перемещение по локальным ссылкам */
  scroll-behavior: smooth;
}

.container {
  padding: 0 var(--container-padding-inline);
}

.title {

  color: var(--dark-color);
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;

  span {
    position: relative;
  }

  span::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    right: 0;
    width: 75px;
    height: 2px;
    background-color: var(--dark-color);
  }

  @media screen and (max-width:768px) {
    font-size: 36px;
  }

  @media screen and (max-width:576px) {
    font-size: 24px;
  }

}

.promo {
  position: relative;
  min-height: 100vh;
  background: url("../img/main_bg.jpeg") center center / cover no-repeat;
  padding-top: 75px;

  /*Можно полностью поменять картинку, но делать так нужно в крайнем случае. Если не получилось подогнать через backgound и background-position */
  @media screen and (max-width: 768px) {
    & {
      /* меняется одно из свойст из background-image */
      background-image: url(../img/Bg_firstscreen_tablet.png);
    }

    @media screen and (max-width: 576px) {
      min-height: 500px;
      padding-top: 50px;
    }
  }
}

.promo__title {
  color: var(--light-color);
  font-size: 60px;
  font-weight: 400;
  line-height: 73px;
  /* /* text-align: left; */
  text-transform: uppercase;

  @media screen and (max-width: 768px) {
    font-size: 48px;
    line-height: 58px;
  }

  @media screen and (max-width: 576px) {
    font-size: 26px;
    line-height: 31px;
  }
}

.promo__subtitle {
  margin-top: 124px;
  color: var(--light-color);
  font-size: 32px;
  font-weight: 100;
  line-height: 39px;

  /* text-align: left; */
  @media screen and (max-width: 768px) {
    & {
      margin-top: 80px;
    }

    @media screen and (max-width: 576px) {
      margin-top: 30px;
      font-size: 16px;
      line-height: 19px;
    }
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: 20px;
  padding: 3px 10px;
  width: 160px;
  min-height: 38px;
  border: 1px solid var(--light-color);
  background: rgba(217, 217, 217, 0);
  color: var(--light-color);
  font-size: 16px;
  font-weight: 100;
  cursor: pointer;
  transition: all 0.3s ease-out;

  @media screen and (max-width: 576px) {
    font-size: 14px;
    width: 120px;
    min-height: 30px;
  }
}

.btn:hover {
  font-weight: 500;
  box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.62);
}

.promo__address {
  position: relative;
  margin-top: 100px;
  color: var(--light-color);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;


  address {
    font-style: normal;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 49px;
    left: -45px;
    top: -17px;
    background: url(../icons/Arrow.svg) center center / cover no-repeat;
  }

  @media screen and (max-width: 768px) {
    & {
      margin-top: 80px;
    }

    &::before {
      left: -40px;
    }
  }

  @media screen and (max-width: 750px) {
    &::before {
      display: none;
    }

    @media screen and (max-width: 576px) {
      margin-top: 233px;
    }
  }

}

.keywords {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  padding: 0 360px;
  width: 100%;
  height: 20px;
  background: linear-gradient(180.00deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.12) 50%, rgba(255, 255, 255, 0.2) 100%);

  li {
    list-style-type: none;
    color: var(--light-color);
    font-size: 10px;
    font-weight: 100;
    line-height: 12px;
  }

  /* screen используется в объемных проектах чтобы показать что дальше будет информация про экран */
  @media screen and (max-width:1440px) {
    & {
      padding: 0 20px;
    }
  }

  /* при разрешении экрана 768px скрываем все значения li, а потом при помощи псевдокласса говорим первые 9 элементов отображаем на экране  */
  @media screen and (max-width:768px) {
    /*     & li {
      display: none;
    } */

    /*у списков стоит значение display:list-item  */
    /*     & li:nth-child(-n+9) {
      display: list-item;
    } */
    /* ппоследние 6 элементов скрыть  */
    & li:nth-last-child(-n+6) {
      display: none;
    }

    @media screen and (max-width: 576px) {
      & {
        margin-top: 10px;
      }

      & li:nth-last-child(-n + 11) {
        display: none;
      }
    }
  }
}

.about {
  background-color: var(--light-color);
  padding-top: 70px;
}

.about__title {
  color: var(--dark-color);
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

.about__text {
  width: 1100px;
  margin-top: 20px;
  color: var(--dark-color);
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;

  span {
    color: rgb(165, 165, 165);
  }

  @media screen and (max-width:1440px) {
    width: 100%;
  }

  @media screen and (max-width:768px) {
    & {
      font-size: 24px;
      line-height: 29px;
    }
  }

  @media screen and (max-width: 576px) {
    font-size: 16px;
    line-height: 19px;
  }

}

.services {
  display: flex;
  column-gap: 10px;
  margin-top: 80px;

  @media screen and (max-width:768px) {
    display: block;
    margin-top: 40px;
  }

  @media screen and (max-width: 576px) {
    margin-top: 20px;
  }

}

.services__items {
  width: 50%;


  ul {
    margin-top: 20px;
    padding: 0;
  }

  li::selection {
    color: white;
    background-color: rgba(0, 0, 0, 0.8)
  }

  li {
    position: relative;
    margin-top: 10px;
    list-style-type: none;
    color: var(--dark-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;

    &:first-child::before {
      content: "";
      display: block;
      position: absolute;
      width: 15px;
      height: 15px;
      left: -30px;
      top: 2px;
      background: url('../icons/Camera.svg') center center / cover no-repeat;

    }

    &:nth-child(3)::before {
      content: "";
      display: block;
      position: absolute;
      width: 15px;
      height: 15px;
      left: -30px;
      top: 2px;
      background: url('../icons/Edit.svg') center center / cover no-repeat;

    }

    @media screen and (max-width: 576px) {
      &:first-child::before {
        display: none;
      }

      &:nth-child(3)::before {
        display: none;
      }

      & {
        font-size: 12px;
        line-height: 15px;
      }
    }
  }

  @media screen and (max-width:768px) {
    & {
      width: 100%;
    }
  }

  @media screen and (max-width: 576px) {
    & {
      font-size: 14px;
      line-height: 17px;
    }
  }
}

.services__items-subtitle {
  color: var(--dark-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;

  @media screen and (max-width: 576px) {
    font-size: 14px;
    line-height: 17px;

  }
}

.services__text {
  width: 50%;
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.4px;

  &::selection {
    color: white;
    background-color: rgba(0, 0, 0, 0.8)
  }

  @media screen and (max-width:768px) {
    width: 100%;
    margin-top: 40px;
  }

  @media screen and (max-width: 576px) {
    margin-top: 20px;
    font-size: 12px;
    line-height: 15px;
  }
}

/* .services__text::selection {
  color: white;
  background-color: rgba(0, 0, 0, 0.8)
} */

br::selection {
  color: white;
  background-color: rgba(0, 0, 0, 0.8)
}


.works {
  padding-top: 80px;
  background-color: var(--light-color);

  @media screen and (max-width:768px) {
    padding-top: 50px;
  }

}

.works__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr) 1.5fr;
  /* если выжны пропорции картинки и изображение не резалось , но они будут подстраиваться под размер экрана */
  /* grid-template-rows: repeat(2, 463px) 700px; */
  /* если нужно точно задать размеры фото и сохранить их без изменений */
  /* 2 раза по 463px и 1 строка 700 px */
  column-gap: 30px;
  row-gap: 50px;
  margin-top: 50px;

  img {
    width: 100%;
    /*     height: 100%;
    object-fit: cover; */
    /* к варианту с grid-template-rows: repeat(2, 463px) 700px;  */
    /* так же можно добавить такие свойства в этот вариант, чтобы фото подстраивались под контейнер не зависимо от размера. Высота и ширина в таком случае будет браться от fr */
    height: 100%;
    object-fit: cover;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  }

  @media screen and (max-width:768px) {
    margin-top: 40px;
    column-gap: 20px;
    row-gap: 30px;
  }

  @media screen and (max-width:576px) {
    /* меняем грид сетку теперь у нас 1 колонка, и 4 строки по 1fr и 1 строка 1.5fr */
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr) 1.5fr;
    column-gap: 0px;
    row-gap: 30px;
  }

}

.inspiration {
  padding-top: 80px;
  background-color: var(--light-color);

  @media screen and (max-width:768px) {
    padding-top: 50px;
  }
}

.inspiration__grid {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px 30px;
  margin-top: 53px;

  img {
    width: 100%;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  }

  @media screen and (max-width:1200px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 20px;

  }

  @media screen and (max-width:768px) {
    margin-top: 43px;
  }

  @media screen and (max-width:576px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr)2.1fr 1fr 0.5fr;
    column-gap: 0px;
    row-gap: 20px;
  }
}

#tenement {
  grid-column: 4/5;
  grid-row: 1/3;
  height: 100%;

  @media screen and (max-width:1200px) {
    grid-column: 2/3;
    grid-row: 2/4;
  }

  @media screen and (max-width:576px) {
    grid-column: auto;
    grid-row: auto;
  }
}

#sky {
  grid-column: 2/4;

  @media screen and (max-width:1200px) {
    grid-column: 1/3;
  }

  @media screen and (max-width:576px) {
    grid-column: auto;
  }
}



.customers {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: var(--light-color);

  @media screen and (max-width:768px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.wrapper__customers {
  margin-top: 53px;
  display: flex;
  /* чтобы при появлении новых элемиентов они переносились в новую строку если не влазят */
  flex-wrap: wrap;
  gap: 30px;


  img {
    /* 25% не подходит т.к. с учётом gap число будет меньше  */
    /* width: 25%; */
    /* функция calc из 100% ширины вычитаем 90px(это gapы по 30px c каждой стороны) и делим на 4, т.к. 4 эелемента в строке планируется */
    width: calc((100% - 90px) / 4);
    box-shadow: 7px 7px 12px 0px rgba(0, 0, 0, 0.25);
  }

  @media screen and (max-width:768px) {
    & {
      margin-top: 43px;
      gap: 20px;
    }

    img {
      width: calc((100% - 60px) / 4);
    }
  }

  @media screen and (max-width:576px) {
    & {
      margin-top: 33px;
      column-gap: 36px;
      row-gap: 20px;
      justify-content: space-between;
    }

    img {
      width: calc((100% - 36px) / 2);
    }
  }
}

.footer {

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 88px var(--footer-padding-inline);
  background: rgb(0, 0, 0);
  color: var(--light-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;

  @media screen and (max-width:1024px) {
    font-size: 16px;
    line-height: 19px;
  }

  @media screen and (max-width:768px) {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 30px;
    padding: 30px var(--footer-padding-inline) 40px var(--footer-padding-inline);
  }

  @media screen and (max-width:576px) {
    align-items: center;
  }

}

.footer__addr {
  font-style: normal;

  @media screen and (max-width:576px) {
    order: 3;
  }
}

.footer__tel {
  color: var(--light-color);
  text-decoration: none;

  @media screen and (max-width:576px) {
    order: 2;
  }
}

.footer__social {
  padding-left: 0;
  display: flex;
  column-gap: 30px;
  list-style: none;

  li {
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    border: 1px solid rgb(245, 245, 247);
    background: rgba(217, 217, 217, 0);

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      img {
        width: 22px;
        height: 22px;
      }
    }
  }

  @media screen and (max-width:768px) {
    column-gap: 27px;
  }

  @media screen and (max-width:576px) {
    order: 1;
  }
}